body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
}

.card {
  background-color: #1e293b;
  width: 60%;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
}

h1 {
  color: #38bdf8;
}

button {
  background-color: #38bdf8;
  color: #0f172a;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
}
